.table-presentacion {
  border-collapse: collapse;
  width: 100%;
}

.table-presentacion, td, th {
  border: 1px solid black;
}


div .page .table-presentacion .table-presentacion-td  {
	font: italic bold 12px/30px Georgia, serif;
	background-color: #bfbacb;
}

div .page .table-data {
    border-collapse: collapse;
    width: 100%;
}

.div .page .table-data {
    border: 1px solid black;
}

div .page .table-data-tr {
    font: italic bold 12px/30px Georgia, serif;
    background-color: #bfbacb;
}